configuration {
    font: "mono 16";
    modi: "combi";
    combi-modi: "window,drun,run";
    show-icons: true;
    kb-remove-to-eol: "";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-row-up: "Up,Control+p,Control+k";
    kb-row-down: "Down,Control+n,Control+j";
    kb-element-next: "";
    kb-row-select: "Tab";
}
